
.project {
     margin: auto;
     background-color: white;
     padding: 0px;
     width: 525px;
     border-top: 1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
}

#project5 {
     margin: auto;
     background-color: white;
     padding: 0px;
     width: 525px;
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
}

.jumbotron {
    margin: center;
    text-align: center;
	background: none;
}

.jumbotron p {
     color: #6e6e6e;
}

.project button{
     text-align: center;
}

.btn-group-date button{
     margin: center;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
     float: center; /* Float the buttons side by side */
}

.btn-group-options {
     margin: center;
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: center; /* Float the buttons side by side */
    text-align: center;
}

.estimated_budget {
     text-align: center; 
     float: center;
 }

.info {
     text-align: right;
}