
.project {
     margin: auto;
     background-color: #b19cd9;
     padding: 20px;
     width: 525px;
}

.jumbotron {
     margin: auto;
     text-align: center;
	position: relative;
	background: none;
}

.jumbotron p {
     color: #6e6e6e;
}

.project a {
     text-align: center;
}

.btn-group button{

    border: 1px solid blue; /* Blue border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

.estimate {
     text-align: center;
}